#wrap {
    width:1170px;
    margin:0 auto;
    position:relative;
}

#titlearea {
    padding-bottom:20px;
}

#MSearchBox {
    top:10px;
}

.ui-resizable-handle.ui-resizable-e {
    background-image: none;
    background-color: #5373B4;
    cursor: default;
    width:1px;
}

#side-nav {
    padding-right:0px;
}

#nav-sync {
    display:none;
}

#nav-tree, .header {
    background-image:none !important;
}

#nav-tree .selected {
    background-image:none;
    background-color: #5373B4;
    text-shadow: none;
}

.navpath ul {
    background-image:none;
    background-color: #F9FAFC;
    border: none;
    border-top:1px solid #5373B4;
    padding: 10px 0 10px 0;

}

#nav-path li {
    background-image:none;
}
